body{
    background-image: linear-gradient(to right, #a4ebe4, #F2FEFD);
    margin: 0;
    border: 0;
    
}

h1{
    color: aqua;
    background-color: beige;
}

main{
    background-color: #41ccbe;
    margin-top: 10%;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
    align-items: center;
    height: 50vh;
    width: 70vh;
    border-radius: 60px;

   
}
h2{
    color: white;
      border-radius: 6px;
    font-family: sans-serif;
}

#form-cadastro{
    margin: 40px auto;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.campo{
    margin-bottom: 15px;
    
}

.campo input{
    border-radius: 26px;
    width: 33vh;
    height: 4vh;
    
}

#botao{
    width: 22vh;
    height: 3vh;
    border-radius: 20px;
    border-color: #d9d9d9;
    font-family: sans-serif;
}

::placeholder{
    font-family: sans-serif;
}